# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# IDE related
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Android
android/.gradle
android/local.properties
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework

# Environment files
.env
